body {
  color: #dddad6;
  background-color: #191b1c;
}

hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

pre, code {
    border-top-color: #363b3d;
    border-right-color: #363b3d;
    border-bottom-color: #363b3d;
    border-left-color: #363b3d;
    background-color: #1d1f20;
}

.post-meta {
  color: #dddad6;
}

div .wrapper {
  color: #dddad6;
}

a .site-title {
  color: #dddad6;
}

a {
  color: #70b4f3;
}

a:visited {
  color: #a885fe;
}

a:hover {
    color: #dddad6;
    text-decoration: underline;
}

a .page-link {
  color: #dddad6;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.footer-col-3 {
  color: #dddad6;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}